.cartWrapper {
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

.cartItem {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 10px;
  border: 3px solid var(--input-color);
  border-radius: 10px;
}

.cartImageWrapper {
  margin-right: 30px;
}

.cartImageWrapper img {
  max-width: 100px;
  height: auto;
}

.cartInfoContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
.cartQuantity {
  display: flex;
  gap: 10px;
}
.cartButtonDelete {
  background-color: var(--buttonDelete-color);
  color: var(--color-white);
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  border: 3px solid var(--buttonDelete-color);
  border-radius: 5px;
}

.cartButtonDelete:hover {
  background-color: var(--buttonDelete-color-hover);
  border: 3px solid var(--buttonDelete-color-hover);
}

.cartInput {
  border: 3px solid var(--input-color);
  border-radius: 8px;
  padding: 5px;
  outline: none;
  background-color: transparent;
}

.cartInput:focus {
  border: 3px solid var(--input-color-focus);
}
