.shopComponentWrapper {
  display: flex;
  padding: 10px;
  gap: 30px;
}
.shopComponentContainer {
  display: flex;
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  width: var(--width-300);
  height: 580px;
  padding: 15px 30px;
  border: 3px solid var(--border-color);
  border-radius: 8px;
}

.shopComponentTitle {
  font-size: var(--fs-24);
  margin-bottom: 20px;
  text-align: center;
  font-weight: var(--fw-600);
  color: var(--color-gray);
}

.shopComponentShopList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.shopComponentShopItem {
  background-color: var(--color-white);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px var(--color-box-shadow);
  border-radius: 5px;
  cursor: pointer;
}

.shopComponentShopItem:active {
  background-color: var(--input-color);
}

.shopComponentLeftPanel {
  flex: 1;
  padding-right: 10px;
}

.shopComponentRightPanel {
  flex: 1;
  padding-left: 10px;
  width: 75%;
  width: var(--width-810);
  height: 580px;
  padding: 15px 60px;
  border: 3px solid var(--border-color);
  border-radius: 8px;
  overflow-y: auto;
}

.active {
  background-color: var(--input-color);
}
