.wrapperCart {
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.cartElement {
  display: flex;
  gap: 30px;
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.totalPriceText {
  font-weight: var(--fw-600);
  font-size: var(--fs-22);
  margin-right: 80px;
}

.buttonSubmit {
  background-color: var(--buttonSubmit-color);
  color: var(--color-white);
  outline: none;
  font-size: var(--fs-20);
  cursor: pointer;
  padding: 5px 5px;
  border: 1px solid;
  border-radius: 5px;
}

.buttonSubmit:hover {
  background-color: var(--buttonSubmit-color-hover);
}
