.formContainer {
  margin: 0 auto;
  box-sizing: border-box;
  width: 50%;
  flex-grow: 1;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  display: block;
  margin-bottom: 15px;
}

.error {
  color: red;
}
